<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <!-- <servlet>
  	<servlet-name>get</servlet-name>
  	<servlet-class>com.maroti.servlet.cookies.GetCookies</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>get</servlet-name>
  	<url-pattern>/get</url-pattern>
  </servlet-mapping> -->

<servlet>
  	<servlet-name>del</servlet-name>
  	<servlet-class>com.maroti.servlet.cookies.DeleteCookies</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>del</servlet-name>
  	<url-pattern>/del</url-pattern>
  </servlet-mapping>

<!-- <servlet>
  	<servlet-name>add</servlet-name>
  	<servlet-class>com.maroti.servlet.cookies.SetCookies</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>add</servlet-name>
  	<url-pattern>/add</url-pattern>
  </servlet-mapping>
 -->  
</web-app>
